*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#071629;
    --accent-color :#FF6565;
    --text-color:#ffffff;
    --bg-color:#ffffff;
    --boldfont: 700;
    --regularfont:400;
    --semiboldfont:600;

    --xs-font:12px;
    --s-font:14px;
    --normal-font:16px;
    --large-font:32px;
}

html,body {
      font-family: "Source Sans 3", sans-serif;
      height: 100%;
      width: 100%;
      background-image: url(./assets/images/images/headphones_hero_1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
     
     
}

p{
    line-height: 1.5;
}
.wrapper {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.75rem;
   

}
/* text styles */
.hero-section h1 {
    font-weight: var(--boldfont);
    font-size: var(--large-font);
}

.hero-paragraph {
    font-weight: var(--boldfont);
    font-size: var(--normal-font);
}

h2 {
    font-size: var(--large-font);
    font-weight: var(--semiboldfont);
    margin-bottom: 2.5rem;
}

.regular-paragraph {
    font-size: var(--normal-font);
    font-weight: var(--regularfont);
}

.numeral-results {
    font-size: 46px;
    font-weight: var(--boldfont);
}


/* ------------------------------------navigation section---------------------------------------------------------- */
.navigation {
    width: 100%;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--xs-font);
}

.nav-menu-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* .nav-menu-list li {
    display: inline-block;
    margin-left: 1rem;
} */

.nav-menu-list a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-menu-list a:hover {
    color: var(--accent-color);
    transition: .50s;
}

.logo {
    width: 161px;
    height: 32px;
}
/* ------------------------------------hero section---------------------------------------------------------- */
.hero-section {
    height: 90vh;
    width: 100%;

    color: var(--text-color);
    
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;
    margin-top: 50px;
    max-width: 637px;

    text-align: center;
}

.primary-btn {
    background-color: var(--accent-color);
    color: white;
    font-weight: var(--boldfont);
    cursor: pointer;
    padding: 13px 31px 13px 31px;
    border: none;
    border-radius: 100vw;
    box-shadow: 0px 2px 20px #00000091;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.primary-btn:hover {
    background-color: #ff656558;
}

a {
    text-decoration: none;
    color: white;
}
/* ------------------------------------what we do section---------------------------------------------------------- */
.what-we-do{
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 3rem 1rem;
    

}

.what-we-do-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
    height: 100%;
}

.section-summary {
    max-width: 637px;
    
}


.icons-container {
    display: grid;
    width: 100%;
  
    gap:3.6rem;

} 

.what-we-do-images {
    width: 68px;
    height: 77px;
}

/* ------------------------------------results section---------------------------------------------------------- */
.results {
    background-image: url('./assets/images/images/headphones_hero_2.jpg');
    padding: 3rem 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
    height: 100%;
}

.pentagone {
    width: 190px;
    height: 190px;
}

.icon-wrapper{
    position: relative;
}
.results-details {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ------------------------------------end of results section---------------------------------------------------------- */

/* ------------------------------------contact section---------------------------------------------------------- */
.contact-form {
    height: 90vh;
    background-color: var(--bg-color);
    color: var(--main-color);

}

.contact-container {
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
label {
    display: block;
    width: 100%;
    
}

input, textarea{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #071629;
    background: none;
    outline: none;
    margin-bottom: 20px;
}

.contact-form h2 {
    margin-bottom: 50px;
    text-align: center;
}

button {
    margin: 0 auto;
}
/* ------------------------------------end of contact section---------------------------------------------------------- */

/* ------------------------------------footer section---------------------------------------------------------- */
footer {
    
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 5.5rem 0px;
    
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 20px;
}


.signature {
   text-align: center;
   margin-top: 3.5rem;
   color: #ffffff5c;
}
/* ------------------------------------footer section---------------------------------------------------------- */

/* Responsive Navigation Menu */
.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25px;
    height: 18px;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.3s;
}

/* Transition for hamburger to X icon */
.menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
}

/* media queries */
@media screen and (max-width:375px) {
    .nav-container {
        justify-content: space-between;
    }

   

    .menu-toggle:checked ~ .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        
        
    }

    .nav-menu-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .menu-icon {
        display: flex;
    }

    .nav-menu {
        display: none;
    }

    .footer-nav {
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        padding: 0 20px;
    }

    .icons-container {
       display: flex;
       flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .icons-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (min-width:769px) {
    .icons-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}